.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app main {
  flex: 1;
  position: relative;
}

main:has(.login-page), main:has(.register-page) {
  display: flex;
  flex-direction: column;
}